[General]
Pre19Defaults=false
Pre21Defaults=false
Pre23Defaults=false
Pre24.1Defaults=false
FirstRun=true
ConfirmOnExit=false
EnableAutoUpdates=false

[Basic]
Profile=IRL
ProfileDir=IRL
SceneCollection=IRL
SceneCollectionFile=IRL

[BasicWindow]
SysTrayEnabled=false
WarnBeforeStartingStream=false
WarnBeforeStoppingStream=false
RecordWhenStreaming=false
